div#content {
	width:80%;
}

div#searchDiv {
	margin:2em;
	text-align:center;
}

div#searchDiv {
	margin:0.5em;
	text-align:center;
}

form#searchForm {
	
}

input#searchInput {
	width:50%;
}

input#searchButton {
	margin-top:0.5em;
}

div#results {
	margin:2em;	
}

table#resultsTable {
	text-align:center;
}

table#resultsTable tr td {
	border: 1px solid black;
	vertical-align:top;
}

table#resultsTable .recordColumn {
	width=8%;	
}

td#colRecordID {

}

td#colDiagnosis {
	width:10%;
}

td#colDescription {
	width:20%;
}

td#colThumbnails {
	width:30%;
}