body {
    text-align:center;
	background-color:#D4D4D4;
}

a {
    text-decoration:none;
}

a:hover {
	text-decoration:underline;	
}

a:visited {
	color:#551a8b;
}

div#header {
    text-align:left;
    margin-bottom:1em;
}

div#content {
    text-align:center;
	margin-left:auto;
	margin-right:auto;
}

div#footer {
	text-align:center;
	margin-top:1em;
}

div#contentTitle {
	margin-top:1em;
	font-size:5em;
	font-weight:bold;
	text-align:center;
}

div#contentSub {
	font-size:1.25em;
    font-style:italic;
    text-align:center;
    margin:0;
}

form#searchForm {
	
}

input#searchInput, input#searchButton {
    font-size:1.25em;
}

span .list, div#header span, div#footer span {
    margin-right:1em;
}

div#caldiv {
	position:absolute;
    visibility:hidden;
    background-color:white;
    layer-background-color:white;
}